:root {
 --primary-color: #800020;
 --secondary-color: #010001;
 --accent1-color: #F4FFF8;
 --accent2-color: #7D7C7A;
 --heading-font: Neuton, serif;
 --text-font: Forum, serif;
}
* {
    width: auto;
}

header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin: auto;
}

header img{
    width: auto;
}

header nav{
    display: flex;
    flex-direction:  row;
    justify-content: space-evenly;

}

.history{
    display: flex;
    flex-direction: column;
}

.history_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: auto;
}

.history_info img{
    height: 200px;
    width: auto;
    order: 2;
}

.history_info p{
    order: 2;
}

.hero {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    height: 500px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1{
    position: absolute;
    top: 80px;
    font-size: 4rem;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    margin: 150px;
}

.hero article {
    position:relative;
    bottom: 280px;
    background-color: var(--accent2-color);
    opacity: 0.8;    
    height: 40%;
}


.hero h1, .hero h4{
    color: var(--primary-color);
}

.hero h4{
    font-size: larger;
    color: var(--accent1-color);
}

.hero p {
    font-size: small;
    color: var(--accent1-color);
}
.hero article img {
    position: absolute;
    float: right;
    height: 100px;
    width: auto;
    right: 10px;
    opacity: 100%;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color:  var(--primary-color);
    text-align: center;
}

h4 {
    font-size: large;
    text-align: center;
}

p {
    font-family: var(--text-font);
    font-size: large;
    color: var(--secondary-color);
}

.sociallinks a{
    text-decoration: none;
}

.bottom_images{
    display: flex;
    align-items: center;
    
}

figure img{
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

footer{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

footer img{
    width: 30px;
    height: auto;
}

.company {
    display: flex;
    margin-bottom: 100px;
}

.employee_images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.employee_images img, figcaption{
    width: 200px;
    height: auto;
}

.info {
    height: 250px;
}

body {
    font-family: Forum, Neuton, serif;
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

h1 {
    text-align: center;
    font-size: xx-large;
    margin: 1px;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 25px;
    background-color: lightgray;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 5px;
    margin: 20px;
    border: 1px solid maroon;
    padding: 10px;
}

legend {
    padding: 5px;
    color: black;
    font-size: larger;
}

label, input, select, textarea{
    font-family: Forum;
    font-size: medium;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: maroon;
    margin: 1rem;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
}

button:hover {
    background-color: darkgray;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

footer {
    text-align: center;
    font-family: Neuton, Forum, sans-serif;
    font-size: large;
    border-top: 2px solid black;
    margin-top: 30px;
}

.form-item
{
    display: grid;
    justify-content: left;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.trip_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}   

.headline {
    grid-column-start: 1; 
    grid-column-end: 3;
    padding: 3rem;
    margin-bottom: 3rem;
}

.trip_images_trips {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.high_trip {
    border: var(--secondary-color) 1px solid;
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: 1fr auto;
}

.high_trip img {
    height: auto;
    width: fit-content;
}

.high_trip h3, p{
    width: fit-content;
    align-items: end;
}

.contact_us_box a {
    display:block;
    height:100%;
    width:100%;
    padding: 10px;
    border: var(--secondary-color) solid 1px;
    background-color: var(--accent2-color);
    text-decoration: none;
}

td {
    text-align: center;
}