.callout {	
    background-color: blue;
    color: white;
    max-width: 500px;
    border-top: 1px;
    padding-top: 1px;
}

.callout img {	
    float: right;
    border: 2px solid snow;
    padding-top: 1px;
    padding-right: 1px;    
    margin-right: 25px;
    margin-top: 25px;
}

blockquote {	
    border-top: 1px;
    padding-top: 1px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

cite {
    
	display: block;
    border-top: 1px dotted white;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: right;
    font-size: large;
}