

:root {
    --margin-10px: 10px;
    --color-white: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--color-white);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 500px;
}

aside {
    width: 450px;
   text-align: center;
}

aside h2{
    position: absolute;
    top: 1rem;
    left: 7rem;
    color: black;
    font-size: x-small;
}

aside img {
    width: 200px;
    height: auto;
    border-color: maroon;
}

footer {
    margin-top: var(--margin-10px);
    border-top: 5px solid black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: grey;
    color: white;
}